body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(182, 243, 233);
    font-family: 'Century Gothic',sans-serif;
}


table, td{
    border: 1px solid black;  
      
}       
    
td{
    width: 30px;
    height: 30px;
    align-content: center;  
    
}
  
#options{
    display: flex;
    flex-direction: row;    
    align-items: center;
    align-content: space-between;
}

#labels
{
    display: flex;
    flex-direction: column;
    align-items: left;    
    width: 150px;
}

#textfields{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#color-options{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    align-content: space-between;   
    padding: 30px;  
}

.labelChild{
    display: flex;
    flex-direction: column;
    align-items: left;  
    height: 22px;
    
}

#colorUncolored{
    width: 120px; 
}

#colorAll{
    width: 120px;     
}

#clearAll{
    width: 120px;     
}

#current-values{
    display: flex;
    flex-direction: row;
    align-items: center; 
}  

#value-rows{
    width: 120px;
}

